# Folders
database/
fonts/
mu-plugins/
upgrade/
uploads/

# Files
*/db.php
*/debug.log
.DS_Store
/*/languages/

# Example themes
/*/themes/twenty*/

# Plugins
/*/plugins/hello.php
/*/plugins/all-in-one-wp-migration/
/*/plugins/akismet/
/*/ai1wm-backups/